<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Exchange Einsite Challenge</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="stock.html">Einsite Stock Indexing</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="logout.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="stock.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>  
                            <li>
                                <a href="flot.html">Flot Charts</a>
                        </li>      
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div class="container" id="throbber" style="display:none;text-align: center;margin-top: 100px;">
            <img src="http://vis.stanford.edu/projects/immens/demo/faa/resources/loading-blue.gif" style="width:100px" />
        </div>
        <div id="page-wrapper" class="MainContent">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-lg-6">
                    <h1 class="page-header">Analysis of Exchange</h1>
                    
                </div>
                <div class="col-lg-6">
                    <h5 style="margin: 40px 0 20px;color:crimson">Choose Ticker for Analysis Report *</h5>

                    <select id="options" class="form-control"  onchange="getData()">
                    
                    </select>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart for Prices for whole day (Working)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-12">
                    <h2 class="page-header">Choose any four ticker below to compare their Last Price and analyse </h2>
                    <div class="col-md-3">
                        <h5 style="margin: 40px 0 20px;color:crimson">Choose Ticker for Analysis Report *</h5>
                        <select id="options1" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5 style="margin: 40px 0 20px;color:crimson">Choose Ticker for Analysis Report *</h5>
                        <select id="options2" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5 style="margin: 40px 0 20px;color:crimson">Choose Ticker for Analysis Report *</h5>
                        <select id="options3" class="form-control" >
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5 style="margin: 40px 0 20px;color:crimson">Choose Ticker for Analysis Report *</h5>
                        <select id="options4" class="form-control">
                        </select>
                    </div>  
                </div>
                <br><br>
                <div class="col-lg-12">
                    <div class="col-lg-12" style="margin-top:10px;margin-bottom:10px;">
                    <button class="btn btn-primary" onclick="generatereport()">Click to Analyse</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart for Prices for whole day (Working)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-compare"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Moving Line Chart for Prices for whole day (Demo purpose)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script id="options_temp" type="text/html">
    <option value="-1">--None--</option>
    {{#.}}
        <option value="{{Name}}">{{Name}}</option>
    {{/.}}
    </script>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="static/vendor/flot/excanvas.min.js"></script>
    <script src="static/vendor/flot/jquery.flot.js"></script>
    <script src="static/vendor/flot/jquery.flot.pie.js"></script>
    <script src="static/vendor/flot/jquery.flot.resize.js"></script>
    <script src="static/vendor/flot/jquery.flot.time.js"></script>
    <script src="static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="static/data/flot-data.js"></script>
<script src="static/javascripts/mustache.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="static/dist/js/sb-admin-2.js"></script>
    <script>
          $(document).ready(function() {
        debugger;
        blockUI();
        var temp = $("#options_temp").html();
        var output = $("#options");
        var jsonData=null;
        $.get( "/getCompanyDetails", function( data ) {
            jsonData=data;
            globalData=data;
            var html=Mustache.render(temp,jsonData);
            output.html(html);
            $("#options1").html(html)
            $("#options2").html(html)
            $("#options3").html(html)
            $("#options4").html(html)
            unblockUI();
        });



    });
    function blockUI()
    {
        $(".MainContent").hide();
        $("#throbber").show();
    }
    function unblockUI()
    {
        
        $("#throbber").hide();
        $(".MainContent").show();
        
    }
</script>
    

</body>

</html>
